@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,500;1,400&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li, a, button {
    font-family: montserrat;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: rgb(26, 29, 31);
}

html {
    background-color: rgb(41, 45, 48);
    background-image: url(BG1.png);
    background-size: 100%;
    background-attachment: fixed;
}



section {
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 45, 48, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(47, 151, 151);
    width: 600px;
    height: 350px;
    border-radius: 50px;
    font-weight: 400;
    font-family: anton;
}
.quote1 {
    color: white;
    text-align: center;
    padding: 70px;
    font-size: 32px;
}

.quote2 {
    color: white;
    text-align: center;
    font-size: 23px;
}

.navbar li{
    display: inline-block;
    list-style: none;
    padding: 0px 35px;
}

button {
    background-color: rgb(47, 151, 151);
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
}

.navname {
   color: aliceblue;
    font-weight: 400;
    font-family: anton;
    font-size: 32px;
}

.navname:hover {
    cursor: pointer;
    color: rgb(23, 125, 125);
}

.navbar a:hover {
    cursor: pointer;
    color: rgb(23, 125, 125);
}

button:hover {
    cursor: pointer;
    background-color: rgb(23, 125, 125);
}

.aboutbody {
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 45, 48, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sam {
    position: absolute;
    width: 250px;
    left: 150px;
    top: 200px;
}

.heading1 {
    position: absolute;
    left: 500px;
    top: 200px;
    right: 150px;
    color: white;
    font-size: 30px;
}

.p1 {
    position: absolute;
    left: 475px;
    top: 250px;
    right: 150px;
    color: aliceblue;
    font-size: 20px;
}

.p2 {
    position: absolute;
    left: 475px;
    right: 150px;
    top: 360px;
    color: aliceblue;
    font-size: 20px;
}

.p3 {
    position: absolute;
    left: 475px;
    right: 150px;
    top: 470px;
    color: aliceblue;
    font-size: 20px;
}

.heading2 {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    top: 130px;
}

.sage {
    position: absolute;
    width: 250px;
    left: 150px;
    top: 220px;
}

.overdose {
    position: absolute;
    width: 250px;
    right: 150px;
    top: 500px;
}

.proj1 {
    position: absolute;
    left: 500px;
    top: 220px;
    color: aliceblue;
    font-size: 30px;
    text-decoration: underline;
}

.p4 {
    position: absolute;
    left: 475px;
    top: 300px;
    right: 150px;
    color: aliceblue;
    font-size: 20px;
}

hr {
    border: 1px solid aliceblue;
    border-radius: 1px;
    position: absolute;
    top: 480px;
    left: 140px;
    right: 140px;
  }

.proj2 {
    position: absolute;
    left: 240px;
    top: 500px;
    color: aliceblue;
    font-size: 30px;
    text-decoration: underline;
}

.p5 {
    position: absolute;
    left: 150px;
    top: 580px;
    right: 475px;
    color: aliceblue;
    font-size: 20px;
}


