@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,500;1,400&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li, a, button {
    font-family: montserrat;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: rgb(26, 29, 31);
}

html {
    background-color: rgb(41, 45, 48);
    background-image: url(BG1.png);
    background-size: 100%;
    background-attachment: fixed;
}



section {
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 45, 48, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(47, 151, 151);
    width: 600px;
    height: 350px;
    border-radius: 50px;
    font-weight: 400;
    font-family: anton;
}
.quote1 {
    color: white;
    text-align: center;
    padding: 70px;
    font-size: 32px;
}

.quote2 {
    color: white;
    text-align: center;
    font-size: 23px;
}

.navbar li{
    display: inline-block;
    list-style: none;
    padding: 0px 35px;
}

button {
    background-color: rgb(47, 151, 151);
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
}

.navname {
   color: aliceblue;
    font-weight: 400;
    font-family: anton;
    font-size: 32px;
}

.navname:hover {
    cursor: pointer;
    color: rgb(23, 125, 125);
}

.navbar a:hover {
    cursor: pointer;
    color: rgb(23, 125, 125);
}

button:hover {
    cursor: pointer;
    background-color: rgb(23, 125, 125);
}

